/* PC  large*/
@media (min-width: 1900px) {
  .content__registry-blank {
    margin: 0 38px;
  }
  .content__registry-imageCenter-img {
    height: 52vh;
    padding: 8px;
    position: absolute;
    top: 15%;
    right: -215px;
    background-color: #fff;
    transition: all 0.8s;
  }
}

/* PC */
@media (min-width: 1024px) {
}

/* TABLET & PC */
@media (min-width: 740px) {
  .btn-compare-mobile {
    display: none;
  }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* MOBILE & TABLET */
@media (max-width: 1023px) {
}

/* MOBILE */
@media (max-width: 739px) {
  .header__nav {
    display: none;
  }

  .content__aisle {
    flex-direction: column;
  }

  .content__aisle-title {
    flex-direction: column;
  }
}
