@tailwind base;
@tailwind components;
@tailwind utilities;

/*? --------------------------------- fonts --------------------------------- */
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.kanit-500 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.kanit-400 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.kanit-300 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

/*? --------------------------------- COMMON --------------------------------- */
.break-section {
  margin-top: 10rem !important;
}

/*? --------------------------------- header --------------------------------- */

.header {
  height: 70vh;
}

.header__img-slider {
  background-color: var(--primary-color-4);
  /* background-image: url(../img/header/slider-img.JPG); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  height: 100%;
}

.header__logo-container {
}

.header__nav {
}

/* header logo */
.header__logo-container {
}

/* header nav  */
.header__nav-list {
}

.header__nav-item {
  list-style: none;
  margin-top: 3.5vh;
}

.header__nav-link {
  padding: 10px 25px;
  display: block;
  line-height: 2rem;
  transition: all 0.3s, ease 0.3s;
  color: var(--primary-color-5);
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link:hover {
  cursor: pointer;
  color: var(--primary-color-3);
  transform: translateY(-2px);
}

.header__nav-link:active {
  color: var(--primary-color-1);
}

/* header something */
.header__something {
}

/*? --------------------------------- content --------------------------------- */

/*TODO ---------------------------------- Aisle --------------------------------- */
.content__aisle {
  padding: 0 100px;
}

.content__aisle-info {
  padding-right: 20px;
}

.content__aisle-title {
}

.content__aisle-title-nameGroom {
  font-size: 2.8rem;
}

.content__aisle-title-ring {
  font-size: 2rem;
}

.content__aisle-title-nameBride {
  font-size: 2.8rem;
}

.content__aisle-content {
}

.content__aisle-content-text {
}

.content__aisle-content-church {
  font-size: 1.4rem;
}

.content__aisle-content-date {
  font-size: 1.2rem;
}

.content__aisle-content-address {
  font-size: 1rem;
  font-style: italic;
}

.content__aisle-direction {
}

.content__aisle-direction-map {
  height: 100px;
}

.content__aisle-image {
}

.content__aisle-image-img {
  width: 30%;
  border-radius: 10px;
  margin: 0 10px;
  transition: all 0.7s;
}

.content__aisle-image-img:hover {
  cursor: pointer;
  transform: scale(1.5);
  box-shadow: 0px 0px 20px 5px var(--primary-color-5);
}

.content__aisle-image-date {
  font-size: 2.2rem;
}

/*TODO ---------------------------------- Introduce --------------------------------- */
.content__introduce {
  padding: 0 100px;
}

/* Bride */
.content__introduce-bride {
}

.content__introduce-bride-image {
}

.content__introduce-bride-image-img {
  height: 70vh;
  border-radius: 10px;
}

.content__introduce-bride-info {
  padding: 0 30px;
  width: 40%;
}

.content__introduce-bride-info--title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.content__introduce-bride-info--name {
  font-size: 2rem;
}

.content__introduce-bride-info--text {
}

/* Groom */
.content__introduce-groom {
}

.content__introduce-groom-image {
}

.content__introduce-groom-image-img {
  height: 70vh;
  border-radius: 10px;
}

.content__introduce-groom-info {
  padding: 0 30px;
  width: 40%;
}

.content__introduce-groom-info--title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.content__introduce-groom-info--name {
  font-size: 2rem;
}

.content__introduce-groom-info--text {
}

/*TODO ---------------------------------- Love story --------------------------------- */

/* ---------------------------------- MODAL --------------------------------- */
.content__aisle-image-img--full-screen {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content__aisle-image-img--full-screen:hover > .btn-close {
  display: block;
  opacity: 0.3;
}

.content__aisle-image-img--full-01 {
  background-image: url(../img/aisle/652A4919.JPG);
}

.content__aisle-image-img--full-02 {
  background-image: url(../img/aisle/652A5751.JPG);
}

.content__aisle-image-img--full-03 {
  background-image: url(../img/aisle/652A5684.JPG);
}

.btn-close {
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #fff;
  transition: all 0.3s;
}
