@tailwind base;
@tailwind components;
@tailwind utilities;

/*? --------------------------------- fonts --------------------------------- */
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.kanit-500 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.kanit-400 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.kanit-300 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.distant-stroke {
  font-family: "Distant Stroke", sans-serif;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

/*? --------------------------------- COMMON --------------------------------- */
.break-section {
  margin-top: 5rem !important;
}

/*? --------------------------------- header --------------------------------- */

.header {
  height: 100vh;
}

.header__img-slider {
  background-image: url("../img/header/cover-photo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(../img/header/slider-img.JPG); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  height: 100%;
}

.header__logo-container {
}

.header__nav {
}

/* header logo */
.header__logo-container {
}

/* header nav  */
.header__nav-list {
}

.header__nav-item {
  list-style: none;
  margin-top: 3.5vh;
}

.header__nav-link {
  padding: 10px 25px;
  display: block;
  line-height: 2rem;
  transition: all 0.3s, ease 0.3s;
  color: var(--primary-color-5);
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link:hover {
  cursor: pointer;
  color: var(--primary-color-3);
  transform: translateY(-2px);
}

.header__nav-link:active {
  color: var(--primary-color-1);
}

/* header something */
.header__something {
}

/* SAVE THE DATE */
.header-saveTheDate {
  /* background-image: url("../img/header/652A4794.JPG"); */
  background-color: var(--primary-color-1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header-title-and-img {
  height: 6vh;
}

.header-title-nameGroom,
.header-title-nameBride,
.header-title-and {
  color: #fff;
  padding: 70px 50px 30px 50px;
  font-size: 3.2rem;
}

.header__title-date {
  font-size: 2rem;
  color: #fff;
}

.header-title {
}

.header-title-nameGroom {
}

.header-title-and {
}

.header-title-nameBride {
}
/*? --------------------------------- content --------------------------------- */

/*TODO ---------------------------------- Wedding --------------------------------- */
.content__wedding {
  background-color: var(--primary-color-4);
  height: 100vh;
}

.content__wedding-day {
  font-size: 3rem;
}

.content__wedding-date {
  font-size: 3.5rem;
  letter-spacing: 10px;
}

.content__wedding-restaurant {
  font-size: 2rem;
}

.content__wedding-restaurant:hover {
  cursor: pointer;
  color: var(--primary-color-1);
}

.content__wedding-restaurant--link {
  text-decoration: none;
  color: var(--primary-color-3);
}

.content__wedding-restaurant--link:hover {
  color: var(--primary-color-1);
}

.content__wedding-address {
  font-size: 1.5rem;
}

/*TODO ---------------------------------- Event --------------------------------- */
.content__event {
  background-color: var(--primary-color-4-op);
  height: 80vh;
}

.content__event-title {
  font-size: 5rem;
}

.content__event-container {
  position: relative;
}

/* event icon img */
.content__event-img {
  height: 10vh;
  text-align: center;
}

/* event time */
.content__event-time {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
}

/* event text */
.content__event--text {
  font-size: 3rem;
  text-align: center;
  margin-top: 5px;
}

.content__event-container::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 1.5px;
  background-color: var(--primary-color-1);
  top: 45%;
}

/* welcome */
.content__event-welcome {
}

.content__event-welcome-image {
}

.content__event-welcome-image::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12%;
  background-color: var(--primary-color-1);
  top: 45%;
  left: 18%;
}

.content__event-welcome-img {
}

.content__event-welcome-text {
}

/* ceremony */
.content__event-ceremony {
}

.content__event-ceremony-image {
}

.content__event-ceremony-image::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12%;
  background-color: var(--primary-color-1);
  top: 45%;
  left: 40%;
}

.content__event-ceremony-img {
}

.content__event-ceremony-text {
}

/* dinner */
.content__event-dinner {
}

.content__event-dinner-image {
}

.content__event-dinner-image::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12%;
  background-color: var(--primary-color-1);
  top: 45%;
  left: 61.5%;
}

.content__event-dinner-img {
}

.content__event-dinner-text {
}

/* party */
.content__event-party {
}

.content__event-party-image {
}

.content__event-party-image::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12%;
  background-color: var(--primary-color-1);
  top: 45%;
  left: 81.67%;
}

.content__event-party-img {
}

.content__event-party-text {
}

/*TODO ---------------------------------- Story --------------------------------- */
.content__story {
  height: 100vh;
  background-color: var(--primary-color-4);
  padding: 25% 0;
}

.content__story-container {
  height: 100%;
}

.content__story-image {
  position: relative;
}

.content__story-img {
  height: 55vh;
  box-shadow: 0px 0px 20px 5px var(--primary-color-4) !important;
}

.content__story-img-01 {
}

.content__story-img-02 {
}

.content__story-img-03 {
}

.content__story-text--heart {
  margin-top: 20px;
}
.content__story-text-image {
  height: 5vh;
  animation: heartBeat 0.9s ease-in-out infinite;
}

/* animation img center */
@keyframes heartBeat {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
}

.content__story-text {
  width: 40%;
}

.content__story-text--title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 3.5rem;
}

.content__story-text--content {
}

.btn-like {
}

.btn-like:hover {
}

/*TODO ---------------------------------- Introduce --------------------------------- */
.content__introduce {
  padding: 20vh 0;
}

/** common */

.content__introduce-name {
  font-size: 4rem;
  word-spacing: 8px;
  letter-spacing: 3px;
}

.content__introduce--content {
  width: 60%;
}

.content__introduce-img {
  height: 70vh;
}

.content__introduce-signature {
}

/** common */

/* groom */
.content__introduce-groom {
}

.content__introduce-groom-container {
}

.content__introduce-groom-content {
}

.content__introduce-groom-name {
}

.content__introduce-groom-text {
}

.content__introduce-groom-image {
}

.content__introduce-groom-img {
}

.content__introduce-groom-signature {
  height: 14vh;
}

/* bride */
.content__introduce-bride {
}

.content__introduce-bride-container {
}

.content__introduce-bride-content {
  text-align: right;
}

.content__introduce-bride-name {
}

.content__introduce-bride-text {
}

.content__introduce-bride-image {
}

.content__introduce-bride-img {
}

.content__introduce-bride-signature {
  height: 16vh;
}

/*TODO ---------------------------------- PHOTO --------------------------------- */
.photo {
}

.photo-container {
  height: 200vh;
}

.photo-title {
  font-size: 4rem;
}

.photo-album {
  position: relative;
}

.photo-album-img {
  --photo-padding: 8px;
  padding: var(--photo-padding);
  background-color: #fff;
}

/* img line 01 */
.photo-album-line-01 {
}

.photo-album-img-01 {
  height: 50vh;
}

.photo-album-img-02 {
  height: 65vh;
}

.photo-album-img-03 {
  height: 45vh;
}

/* img line 02 */
.photo-album-line-02 {
}

.photo-album-img-04 {
  position: absolute;
  top: 98.2%;
  left: 25%;
  height: 50vh;
  padding: calc(var(--photo-padding) * 2);
}
.photo-album-img-05 {
  position: absolute;
  top: 85%;
  left: 69%;
  height: 60vh;
  padding: calc(var(--photo-padding) * 2);
}

/* img line 03 */
.photo-album-line-03 {
}

.photo-album-img-06 {
  position: absolute;
  top: 90%;
  left: 3%;
  height: 50vh;
  padding: calc(var(--photo-padding) * 2);
}

.photo-album-img-07 {
  position: absolute;
  top: 158%;
  left: 11.7%;
  height: 50vh;
  padding: calc(var(--photo-padding) * 2);
}

.photo-album-img-08 {
  position: absolute;
  top: 150%;
  left: 59%;
  height: 60vh;
  padding: calc(var(--photo-padding) * 2);
}

/*TODO ---------------------------------- Footer --------------------------------- */
.footer__registry {
  padding: 100px;
  background-color: var(--primary-color-3);
}

.footer__registry-title {
  font-size: 3.5rem;
  color: #fff;
}

.footer__registry-text {
  color: #fff;
}

.footer__registry-form-wish {
  background: none !important;
  color: #fff !important;
  resize: none;
  transition: all 0.3s;
}

.footer__registry-form-wish:focus {
  background-color: #fff !important;
  color: #000 !important;
}

.footer__registry-form-wish::placeholder {
  color: #fff;
  font-style: italic;
  opacity: 0.5;
}

.footer__registry-confirm {
}

.footer__registry-confirm-btn {
}
